aiohttp==3.7.4
alpha-vantage==2.2.0
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.1
multidict==4.7.6
numpy==1.19.1
pandas==1.1.0
Pillow==7.2.0
pycodestyle==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.10
yarl==1.5.1
